/* DataTable.css */

.DataTable_global_wrapper {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  display: table;
  margin: 0 auto;
  table-layout: fixed;
  width: 100%;
  font-size: 13.5px;
}

.DataTable_small_screen_unsupported {
  display: none;
}

.DataTable_content_wrapper {
  overflow: auto;
  width: 100%;
}

.DataTable_global_wrapper p {
  margin: 0;
}

.DataTable_top,
.DataTable_bottom {
  background: var(--main-color-opacity-85);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 18px;
}

.DataTable_top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.DataTable_bottom {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.DataTable {
  border-collapse: collapse;
  background: #fff;
  table-layout: fixed;
  min-width: 100%;
  max-width: 100%;
  overflow-x: auto;
}


/* Table scroll bar styles */
.DataTable * {
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color);
}

.DataTable *::-webkit-scrollbar {
  width: 3px;
}

.DataTable *::-webkit-scrollbar-track {
  background: var(--main-color);
}

.DataTable *::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 0;
}

/* Responsive */
@media (max-width: 768px) {
  .DataTable,
  .DataTable_top,
  .DataTable_bottom {
    display: none;
  }

  .DataTable_small_screen_unsupported {
    display: block;
    background: var(--main-color-opacity-85);
    color: white;
    padding: 10px 18px;
    text-align: center;
    border-radius: 10px;
  }
}
