#TablePagination {
  display: flex;
  gap: 4px;
}

#TablePagination button:first-child {
  margin-right: 5px;
}

#TablePagination button:last-child {
  margin-left: 5px;
}

#TablePagination button {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 1px 10px;
  font-weight: 500;
}

#TablePagination button.active {
  background-color: var(--accent-color);
}