.DataTable_wrapper {
  display: table;
  margin: auto;
  margin-top: 5%;
}

.DataTable_top,
.DataTable_bottom {
  display: flex;
  justify-content: space-between;
  padding: 10px 18px;
  background-color: #36304add;
  color: white;
}

.DataTable {
  border-collapse: collapse;
  background: #fff;
}